@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;700;800&family=Rubik:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: $dark-color;
  background-color: $white-color;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s ease;
}
ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}
.object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: absolute;
}
.icon-small,
.icon-large {
  @include flex($justify: space-between);
  padding: 0 0.25em;
  font-weight: normal;
  position: relative;
}
.icon-small {
  font-size: 1.25em;
  margin-left: auto;
}
.icon-large {
  font-size: 1.25em;
  padding: 0 0.75em 0 0;
}
.mobile-hide {
  display: block;
}
.products .media {
  position: relative;
  flex-shrink: 0;
  overflow: hidden;
}
.primary-button,
.secondary-button,
.light-button {
  font-size: $fnt-small;
  padding: 0.9em 2em;
  height: auto;
  width: fit-content;
  border-radius: 2em;
  transition: 0.3s all ease;
}
.primary-button {
  background-color: $primiry-color;
  color: $white-color;
  &:hover {
    background-color: $dark-color;
  }
}
.secondary-button {
  background-color: $secondary-dark-color;
  color: $white-color;
  &:hover {
    background-color: $light-bg-color;
    color: $secondary-dark-color;
  }
}
.light-button {
  background-color: $secondary-dark-color;
  color: $white-color;
  &:hover {
    background-color: $secondary-dark-color;
    color: $white-color;
  }
}
.view-all {
  font-size: $fnt-small;
  font-weight: 500;
  display: flex;
  gap: 1em;
  transition: 0.3s all ease-in-out;
}
.mini-text {
  font-size: $fnt-smaller;
  color: $light-text-color;
}

strong {
  font-weight: 800;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input::placeholder {
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins";
}
h1 {
  font-size: calc(1.3em + 1vw);
  font-weight: 800;
  line-height: 1;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.2em;
  font-weight: 700;
}
h4 {
  font-size: 1em;
  font-weight: 600;
}

// REUSABLE   SELECTOR

.container {
  @include tablet() {
    padding: 0 2em;
  }
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 0.938em;
}

.column {
  margin-left: 0 0.938em;
  margin-right: 0 0.938em;
}
.column .row {
  padding: 0 0.938em;
}

.mobile-hide {
  display: none;
}
.desktop-hide {
  display: block;
}

// circle
.circle {
  position: absolute;
  top: -5px;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $light-bg-color;
  z-index: -1;
  &::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: $secondary-color;
    bottom: 5px;
    right: 5px;
    opacity: 0.4;
  }
}

// price
.price {
  .current {
    font-size: calc(1em + 1vw);
    color: $primiry-color;
    margin-right: 0.25em;
    @include mobile() {
      .current {
        font-size: 1.25em;
      }
    }
  }
  .normal {
    color: $light-text-color;
    text-decoration: line-through;
  }
}

// sticky
.is_sticky {
  @include tablet() {
    position: sticky;
    top: 2em;
  }
}

// stars
.rating {
  @include flex();
  gap: 0.5em;
  .stars {
    width: 80px;
    height: 16px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16' fill='rgba(240,187,64,1)'%3E%3Cpath d='M12.0006 18.26L4.94715 22.2082L6.52248 14.2799L0.587891 8.7918L8.61493 7.84006L12.0006 0.5L15.3862 7.84006L23.4132 8.7918L17.4787 14.2799L19.054 22.2082L12.0006 18.26Z'%3E%3C/path%3E%3C/svg%3E");
    background-position-y: top;
    // background-repeat-x: no-repeat;
  }
}

//search button
.showsearch .search-button {
  visibility: inherit;
  opacity: 1;
}

// offer 
.offer {
  text-align: center;
  margin-bottom: 1.5em;
  p {
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .flexcenter {
    @include flex($justify: center);
    gap: 1em;
    li {
      position: relative;
      width: 34px;
      height: 34px;
      padding: 0.5em;
      line-height: initial;
      color: $secondary-dark-color;
      background-color: $light-bg-color;
      border-radius: 5px;
      &:not(:last-child)::before {
        content: ":";
        position: absolute;
        right: -0.6em;
        color: $light-text-color;
      }
    }
  }
}
// stock 
.stock {
  .qty {
    @include flex($justify: space-between);
  }
  .bar {
    height: 3px;
    margin-top: 1em;
    background-color: $border-color;
    overflow: hidden;
    .available {
      height: 3px;
      width: 21%;
      background-color: $secondary-color;
    }
  }
}
