// HEADER TOP

.header-top {
  li {
    &:hover {
      & ul {
        display: block;
      }
    }
  }
  &.mobile-hide {
    @include tablet() {
      display: block;
    }
  }
  .container {
    .wrapper {
      li:hover ul {
        display: block;
      }
      @include font(13px, 300, 42px);

      @include flex($justify: space-between);
      ul {
        gap: 2em;
        ul {
          position: absolute;
          left: -1em;
          line-height: 2em;
          background-color: $white-color;
          border: 1px solid $border-color;
          z-index: 1;
          display: none;
          li {
            a {
              padding: 0.25em 1em;
            }
            &.current a {
              background-color: $border-color;
            }
          }
        }
      }
      li {
        position: relative;
      }
      .left {
        .main-links {
          a:hover {
            color: $secondary-color;
          }

          @include flex();
        }
      }
      .right {
        .main-links {
          a:hover {
            color: $secondary-color;
          }

          @include flex();
        }
      }
    }
  }
}

:where(.off-canvas, header) li > a {
  @include flex();
  position: relative;
  line-height: inherit;
  transition: 0.3s all ease;
}





// HEADER NAV

.header-nav {
  @include tablet() {
    padding: 0;
    margin: 0;
    border-bottom: 0;
  }
  position: relative;
  nav > ul {
    line-height: 100px;
    gap: 2em;
  }
  padding: 0.5em 0;
  border-bottom: 1px solid $border-color;
  .container {
    .wrapper {
      @include flex();
      & > a {
        &.trigger {
          font-size: 1.5rem;
          display: flex;
          padding: 0.25rem;
          margin-right: 0.5em;
        }
        &.desktop-hide {
          @include tablet() {
            display: none;
          }
        }
      }
      .left {
        @include flex();
        .logo {
          a {
            font-family: "Poppins";
            font-size: 1.75rem;
            position: relative;
            font-weight: 800;
            display: flex;
            padding-left: 0.75rem;
            margin-right: 2rem;
            @include tablet() {
              margin-right: 2em;
            }
            .circle {
              position: absolute;
              top: -15px;
              left: 0;
              width: 38px;
              height: 38px;
              border-radius: 50%;
              background-color: $light-bg-color;
              z-index: -1;
              &::before {
                content: "";
                position: absolute;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                background-color: $secondary-color;
                bottom: 5px;
                right: 5px;
                opacity: 0.4;
              }
            }
          }
        }
        .mobile-hide {
          // display: none;
          @include tablet() {
            display: block;
          }
          .second-links {
            li {
              .ri-arrow-down-s-line {
                transition: all 0.3s ease-in-out;
              }
              &:hover {
                .ri-arrow-down-s-line {
                  color: $secondary-color;
                }
              }
            }
            & > li:hover {
              & > .mega {
                max-height: 700px;
                padding: 2.5rem;
              }
              & > a {
                color: $secondary-color;
              }
            }
            & > li > a {
              &:hover {
                color: $secondary-color !important;
              }
              &::before {
                display: none;
              }
              &::after {
                display: none;
              }
            }
            .has-child {
              @include flex();
              &:hover {
                .mega {
                  display: block;
                }
              }
            }
            @include flex($align: center);
            li > a {
              position: relative;
              color: #000;
              transition: 0.3s;
              &::before {
                content: "";
                position: absolute;
                width: 1px;
                height: 0;
                bottom: 0;
                left: -10px;
                background-color: #477d2a;
                transition: 0.3s all ease;
              }
              &::after {
                content: "";
                position: absolute;
                width: 0;
                height: 1px;
                top: 100%;
                left: -10px;
                background-color: #477d2a;
                transition: 0.5s all ease;
              }

              &:hover {
                color: #477d2a;
              }
              &:hover::before {
                height: 100%;
              }
              &:hover::after {
                width: 100%;
              }
            }
            a.women {
              position: relative;
            }

            .fly-item {
              position: absolute;
              height: 16px;
              font-size: $fnt-smaller;
              padding: 3px;
              text-align: center;
              line-height: 10px;
              color: $white-color;
              top: 50%;
              margin-top: -24px;
              width: 30px;
              border-radius: 3px;
              right: -32px;
              background-color: $primiry-color;
            }
          }
        }
      }
      .right {
        margin-left: auto;
        position: relative;
        @include tablet() {
          max-width: 600px;
          margin-left: auto;
        }
        li > a {
          margin-left: 1em;
          @include tablet() {
            margin-left: 1em;
          }
        }
        .second-links {
          @include flex($align: center);
          position: relative;
          margin-left: auto;
          .mobile-hide {
            @include tablet() {
              display: block;
            }
          }
          .icon-large {
            position: relative;
          }

          .fly-item {
            @include flex($justify: center);
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: $secondary-dark-color;
            border-radius: 50%;
            top: -10px;
            right: 3px;
            span {
              color: $border-color;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

// NAV MEGA MENU

nav .mega {
  @include tablet() {
    nav .mega {
      display: block;
    }
  }
  // display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  line-height: 2em;
  background-color: $light-bg-color;
  z-index: 100;
  @include tablet() {
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: auto;
    top: 100%;
    left: 0;
    right: 0;
    // padding: 2.5rem;
    line-height: 2em;
    background-color: $light-bg-color;
    box-shadow: rgb(0 0 0/20%) 0 30px 20px -30px;
    z-index: 100;
    // display: none;
  }

  .view-all {
    @include tablet() {
      margin-top: 1em;
    }
    &:hover {
      color: #477d2a;
    }
    //   margin-top: 1em;
    //   @include font(15px,500,auto)
  }
  h4 {
    font-size: 1em;
    text-transform: uppercase;
  }
  .women-brands {
    @include flex($wrap: wrap);
    max-width: 180px;
    li {
      min-width: 80px;
    }
  }
  // }
  .container {
    .wrapper {
      @include font(13px, 400, 42px);
      // @include flex($align: start);
      @include tablet() {
        display: flex;
      }

      .flexcol {
        gap: 1em;
        flex: 1;
        min-width: 180px;
        padding-right: 2.5rem;
        margin-bottom: 1.5rem;
        z-index: 1;
        &.products {
          @include tablet() {
            flex: 2;
            padding: 0;
            align-items: center;
            position: relative;
          }

          .text-content {
            @include tablet() {
              line-height: initial;
              @include flex($direction: column);
              gap: 0.5em;
              margin-top: 0.5em;
              position: absolute;
              bottom: 4em;
              width: 100%;
            }
            h4 {
              font-size: 0.8em;
              text-transform: uppercase;

              @include tablet() {
                font-size: 2em;
                font-weight: 800;
                text-align: center;
                color: $secondary-dark-color;
              }
            }
          }
          .media {
            @include tablet() {
              height: 400px;
            }
          }
          .row {
            @include tablet() {
              width: 100%;
            }
          }
        }
      }
    }
  }
}






// HEADER MAIN




.header-main {
  @include tablet() {
    display: block;
  }
  background-color: $secondary-dark-color;
  padding: 1.5em 0;
  margin-bottom: 2em;
  .container {
    .wrapper {
      @include flex();
      .dpt-cat {
        position: relative;
        z-index: 10;
        .dpt-head {
          position: relative;
          width: 300px;
          padding: 0.75em 1.5em;
          background-color: $primiry-color;
          border-radius: 7px 7px 0 0;
          color: $white-color;
          margin-bottom: -3.35em;
          .mini-text {
            color: $light-bg-color;
            &:nth-child(2) {
              @include tablet(){
                display: block;
              }
            }
          }
        }
        .dpt-trigger {
          @include tablet(){
            display: block;
          }
          position: absolute;
          right: 0;
          top: 0;
          padding: 1.3em;
          height: 60px;
          width: 60px;
        }
      }
    }
  }

  /* HEADER>>>>   SEARCH  FORM ------------*/

  .right {
    flex: 1;
    max-width: 600px;
    margin-left: auto;
    form {
      position: relative;
      &.search {
        input {
          line-height: 3.25em;
          padding: 0.7em 4.5em;
          border: 0;
          outline: 0;
          width: 100%;
          border-radius: 7px;
          font-size: 0.9em;
          font-weight: 300;
        }
        & :where(span, button) {
          position: absolute;
          top: 0;
          padding: 0.55em 1.5em;
          font-size: 1em;
          color: $light-text-color;
          height: 100%;
        }
        button {
          right: 0;
          border: 0;
          outline: 0;
          font-size: 0.875em;
          font-weight: 600;
          background-color: $primiry-color;
          color: $white-color;
          border-radius: 0 7px 7px 0;
          cursor: pointer;
          transition: 0.3s all ease-in-out;
          &:hover {
            background-color: $dark-color;
          }
        }
      }
    }
  }
}

// DEPARTMENT MENU

.dpt-cat {
  position: relative;
  z-index: 10;

  .dpt-head {
    position: relative;
    width: 300px;
    padding: 0.75em 1.5em;
    background-color: $primiry-color;
    border-radius: 7px 7px 0 0;
    color: $white-color;
    margin-bottom: -2.15em;
    .dpt-trigger {
      position: absolute;
      right: 0;
      top: 0;
      padding: 1.3em;
      height: 60px;
      width: 60px;
    }
    .mini-text {
      color: $light-bg-color;
    }
  }
  .dpt-menu {
    @include tablet() {
      position: absolute;
      top: 100%;
      width: 300px;
      background-color: $white-color;
      border: 1px solid $border-color;
      border-top: 0;
      border-bottom: 0;
      z-index: 1000;
    }
    & > ul > li > a {
      font-size: $fnt-small;
      height: 46px;
      align-items: center;
      @include tablet() {
        font-weight: 500;
        padding: 0 1.5em;
        border-bottom: 1px solid $border-color;
      }
    }
    .second-links {
      transition: 0.3s all ease-in-out;
      li {
        &:hover {
          & > a {
            color: #477d2a;
          }
        }
      }
      .has-child {
        // first sub menu
        li a:hover {
          text-decoration: underline;
        }
        & > ul {
          position: absolute;
          top: 0;
          left: 100%;
          width: 100%;
          height: auto;
          min-height: 100%;
          padding: 1.5em;
          font-size: $fnt-small;
          line-height: 2.5em;
          border: 1px solid $border-color;
          display: none;
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: auto;
        }
      }

      .beauty:hover {
        & > ul {
          display: block;
          background-image: url(../../../assets/menu/menu_bg1.jpg);
        }
      }

      .electronic:hover {
        & > ul {
          display: block;
          background-image: url(../../../assets/menu/menu_bg2.jpg);
        }
      }

      .fashion:hover {
        & > ul {
          display: block;
          background-image: url(../../../assets/menu/menu_bg3.jpg);
        }
      }
      // .homekit .mega {
      //   @include flex();
      // }
      .homekit:hover {
        & > .mega {
          display: flex;
          padding: 0.75em 1em;
          width: max-content;
          background-image: url(../../../assets/menu/menu_bg4.jpg);
          & .row {
            padding: 0 0.725em;
          }
        }
      }

      .mega {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: auto;
        min-height: 100%;
        padding: 1.5em;
        font-size: $fnt-small;
        line-height: 2.5em;
        border: 1px solid $border-color;
        border-top: 0;
        display: none;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto;
      }
    }
  }
}
